@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 18%, 96%);
  width: 24.438rem;
}

html {
  scroll-behavior: smooth;
  font-size: 0.938rem;
}

.page_intro {
  text-align: center;
  margin: 0.8rem;
}

.page_intro h1 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: hsl(212, 6%, 44%);
  margin-bottom: 0.5rem;
}

.page_intro h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.page_intro p {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: hsl(234, 12%, 34%);
  margin-top: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.feature_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem 5rem 1.5rem;
  margin-bottom: 2rem;
  width: 80%;
  font-weight: 200;
  font-size: 0.9rem;
}

.feature_card img {
  position: relative;
  left: 150px;
  top: 30px;
  width: 50px;
}

#supervisor_card {
  border-top: 4px solid hsl(180, 62%, 55%);
  margin-top: 3rem;
}

#team_card {
  border-top: 4px solid hsl(0, 78%, 62%);
}

#karma_card {
  border-top: 4px solid hsl(34, 97%, 64%);
}

#calculator_card {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.footer {
  margin-top: 3rem;
  position: relative;
  bottom: 0.313rem;
  text-align: center;
  width: 100%;
}

.attribution {
  font-size: 0.688rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) {
  
  .page_intro {
    margin: 1.5rem auto;
  }

  .page_intro p {
    font-size: 0.75rem;
    width: 100%;
  }
  .cards {
    display: grid;
    grid-template-areas: " supervisor team calculator "
    "supervisor team calculator"
    "supervisor karma calculator";
    grid-template-columns: repeat(3, 100%);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 1rem;
    gap: 2rem;
    width: 100%;
    position: relative;
    transform: translateX(-90%);
  }

  #supervisor_card {
    grid-area: supervisor;
    width: 100%;
    margin-top: 0;
  }

  #team_card {
    grid-area: team;
    width: 100%;
    margin-bottom: 0;
  }

  #karma_card {
    grid-area: karma;
    width: 100%;
  }

  #calculator_card {
    grid-area: calculator;
    width: 100%;
    margin-top: 0;
  }

  .feature_card {
    padding: 2rem 2rem 4.5rem 2rem;
  }

  .feature_card p {
    font-size: 0.8rem;
  }
}
